jwatchdog-datasource-static/src/main/resources/jwatchdog-datasource-static-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema version="1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="be:e-contract:jwatchdog:datasource:static:1.0"
	xmlns:tns="be:e-contract:jwatchdog:datasource:static:1.0">

	<element name="static" type="tns:static-type" />

	<complexType name="static-type">
		<sequence>
			<element name="value" type="xs:double" maxOccurs="unbounded" />
		</sequence>
	</complexType>

</schema>
