jwatchdog-datasource-rrd/src/main/resources/jwatchdog-datasource-rrd-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema version="1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="be:e-contract:jwatchdog:datasource:rrd:1.0" xmlns:tns="be:e-contract:jwatchdog:datasource:rrd:1.0">

	<element name="rrd" type="tns:rrd-type" />

	<complexType name="rrd-type">
		<attribute name="file" type="xs:string" />
		<attribute name="dataSourceName" type="xs:string">
			<annotation>
				<documentation>
					The name of the data source within the RRD file.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

</schema>
