jwatchdog-notifier-script/src/main/resources/jwatchdog-notifier-script-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema version="1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="be:e-contract:jwatchdog:notifier:script:1.0"
	xmlns:tns="be:e-contract:jwatchdog:notifier:script:1.0">

	<element name="script" type="tns:script-type" />

	<complexType name="script-type">
		<simpleContent>
			<extension base="xs:string">
				<attribute name="type" type="xs:string" />
			</extension>
		</simpleContent>
	</complexType>

</schema>
