jwatchdog-notifier-desktop/src/main/resources/jwatchdog-notifier-desktop-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema version="1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="urn:be:e-contract:jwatchdog:notifier:desktop:1.0"
	xmlns:tns="urn:be:e-contract:jwatchdog:notifier:desktop:1.0">

	<element name="desktop" type="tns:desktop-type" />

	<complexType name="desktop-type">
		<attribute name="title" type="xs:string" use="required" />
	</complexType>

</schema>
